float drainageTempSD=-2;//-2
float drainageTempEHD=1;//0

//parameters SNOW
float maxRain = 1.5;//deg C
float minMelt = 0;//deg C
float snowParam1 = 1.2;//(-)
float snowParam2 = 1.4;//(-)

//parameters RUNOFF
float R=871;
float Rn=107;
float I=10;//typical rainfall intensity (mm h⁻¹)

float MS=0.25;
float BD=1.3;
float K=.9;
float COH=3;

float manningN=.1;
