projectDirectory: ioskut
weather: climate.csv
nrDays: 3651
parameters: params.config
lakeStats: lakeStats.csv
projectName: skuterud
dtmMap: dtm10_filled.tif
textureMap: texture.tif
landuseMap: landuse.tif
vegetationMap: vegetation.tif
streamMap: river.tif
lakeMap: lakes.tif
groundwaterMap: groundwaterLevel.tif
SWCMeasuresMap: dummy.tif
tillageScenario: 0
riverFlow: 0
dynamicGroundwater: 1
simulateErosion: 0
gullyThreshold: 10
samplePoints: statPoints.csv
groundwaterKg: groundwater.config
